{% extends 'layout.html' %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <main id="main">
        <div class="">
            <!-- <aside class="lnb container sticky-top bg-white">
                <ul class="p-0 d-flex mb-0">
                    <li class="me-3 me-lg-0"><a href="#" class="d-flex py-3 focus">인사의 글</a></li>
                    <li class="me-3 me-lg-0"><a href="#" class="d-flex py-3">조직도</a></li>
                    <li class="me-3 me-lg-0"><a href="#" class="d-flex py-3">찾아오시는 길</a></li>
                </ul>
            </aside> -->
            <aside class="lnb ">
                <div class="container">
                    <ul class="p-0 d-flex mb-0 my-5 border bg-white rounded-pill overflow-hidden">
                        <li class="col-6 fs-6 fs-lg-0 text-black"><a href="/kiosk" class="d-flex py-2 justify-content-center">키오스크 접근성시험평가</a></li>
                        <li class="col-6 fs-6 fs-lg-0 text-black"><a href="/appliances" class="d-flex py-2 justify-content-center focus">가전 접근성시험평가</a></li>
                    </ul>
                </div>
            </aside>
            <!-- <div class="col-lg-10"> -->
                <section class="py-5">
                    <div class="container">
                        <h3 class="fw-bold mb-5 text-center"><span class="fs-6 d-block text-primary mb-1 fw-bold">Library</span>자료실</h3>
                        <div class="board col-md-10 mx-auto">
                            <ol class="p-0 border-top border-top" id="post">
                                <li class="py-2 p-md-3 border-bottom">
                                    <a href="#">
                                        <div class="post d-flex align-items-center justify-content-between">
                                            <div class="badge bg-blue-light text-primary">공시</div>
                                            <div class="col-8 col-md-10 text-truncate">asdf lskdjf lskdjflaks dlfkskdjfh ksjdhf klasjdh fskjdhf ksjahd fklsjahsdkafjhaslkd</div>
                                            <div class="fs-6 text-gray-700">09-24</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="py-2 p-md-3 border-bottom">
                                    <a href="#">
                                        <div class="post d-flex align-items-center justify-content-between">
                                            <div class="badge bg-blue-light text-primary">공시</div>
                                            <div class="col-8 col-md-10 text-truncate">asdf lskdjf lskdjflaks dlfkskdjfh ksjdhf klasjdh fskjdhf ksjahd fklsjahsdkafjhaslkd</div>
                                            <div class="fs-6 text-gray-700">09-24</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="py-2 p-md-3 border-bottom">
                                    <a href="#">
                                        <div class="post d-flex align-items-center justify-content-between">
                                            <div class="badge bg-blue-light text-primary">공시</div>
                                            <div class="col-8 col-md-10 text-truncate">asdf lskdjf lskdjflaks dlfkskdjfh ksjdhf klasjdh fskjdhf ksjahd fklsjahsdkafjhaslkd</div>
                                            <div class="fs-6 text-gray-700">09-24</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="py-2 p-md-3 border-bottom">
                                    <a href="#">
                                        <div class="post d-flex align-items-center justify-content-between">
                                            <div class="badge bg-blue-light text-primary">공시</div>
                                            <div class="col-8 col-md-10 text-truncate">asdf lskdjf lskdjflaks dlfkskdjfh ksjdhf klasjdh fskjdhf ksjahd fklsjahsdkafjhaslkd</div>
                                            <div class="fs-6 text-gray-700">09-24</div>
                                        </div>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>
            <!-- </div> -->
        </div>
    </main>
{% endblock %}